.MuiBadge-badge {
  background:  red !important;
}
body{
  font-family: "Roboto", sans-serif;
  background: #f1f1f1 !important;

}
.ReactCollapse--Collapse{
  transition: height 300ms;
}
.btn-blue{
  background: #3872fa !important;
  color:#fff !important;
  padding:8px 20px !important;

}
.btn-blue:hover{
  background: #3067e5 !important;
}